extend doctor_framework


block sidebar
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Most recently viewed
      li.active
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName  
 

block content
  .hero-unit
    center
      h1 Robert Loredo Health Services
      h2 Existing Patient
  .row-fluid
    .span4
      h2 Search By Name
      p
        | Create a record for a new patient. 
      p
        a.btn.btn-primary.btn-large(href='#') New Patient Record »
    .span4
      h2 Search by Social Security
      p
        | Locate the file for an existing patient to view or edit.
      p
        a.btn.btn-primary.btn-large(href='#') Search for a Patient »
     