extend doctor_framework

block sidebar
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Most recently viewed
      li.active
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName  
 
block content
  .hero-unit
    center
      h1 Robert Loredo Health Services
      h2 New Patient
  .row-fluid
    h2 Complete the patient's information below:
  form#contact_form(action='#', method='POST', enctype='multipart/form-data')
    .row-fluid  
      .span4
        label(for='firstname') First Name:
        br
        input#firstname.input(name='firstname', type='text', value='', size='30')
        br
      .span4
        label(for='middlename') Middle Name:
        br
        input#middlename.input(name='middlename', type='text', value='', size='30')
        br
      .span4
        label(for='lastname') Last Name:
        br
        input#lastname.input(name='lastname', type='text', value='', size='30')
        br
    .row-fluid  
      .span4
        form(action='action_page.php')
          label(for='DOB') Date of Birth:
          br
          input#DOB.input(type='date', name='bday')
          br
      .span4
        label(for='SSN') Social Security Number:
        br
        input#email.input(name='SSN', type='text', value='', size='30')
        br
      .span4
        form
          p 
            | Gender: 
            br
            input#male.input(type='radio', name='gender', value='male', checked='')
            |  Male
            br
            input#female.input(type='radio', name='gender', value='female')
            |  Female 
            br 
    .row-fluid     
      .span4
        label(for='street') Street Address:
        br
        input#street.input(name='street', type='text', value='', size='30')
        br
      .span4
        p
          | State/country of Residence:
          br
          br
          select#location.select(name='location')
            optgroup(label='United States of America')
              option(label='Alabama', value='Alabama')
                | Alabama
              option(label='Alaska', value='Alaska')
                | Alaska
              option(label='Arizona', value='Arizona')
                | Arizona
              option(label='Arkansas', value='Arkansas')
                | Arkansas
              option(label='California', value='California')
                | California
              option(label='Colorado', value='Colorado')
                | Colorado
              option(label='Connecticut', value='Connecticut')
                | Connecticut
              option(label='Delaware', value='Delaware')
                | Delaware
              option(label='Florida', value='Florida')
                | Florida
              option(label='Georgia', value='Georgia')
                | Georgia
              option(label='Hawaii', value='Hawaii')
                | Hawaii
              option(label='Idaho', value='Idaho')
                | Idaho
              option(label='Illinois', value='Illinois')
                | Illinois
              option(label='Indiana', value='Indiana')
                | Indiana
              option(label='Iowa', value='Iowa')
                | Iowa
              option(label='Kansas', value='Kansas')
                | Kansas
              option(label='Kentucky', value='Kentucky')
                | Kentucky
              option(label='Louisiana', value='Louisiana')
                | Louisiana
              option(label='Maine', value='Maine')
                | Maine
              option(label='Maryland', value='Maryland')
                | Maryland
              option(label='Massachusetts', value='Massachusetts')
                | Massachusetts
              option(label='Michigan', value='Michigan')
                | Michigan
              option(label='Minnesota', value='Minnesota')
                | Minnesota
              option(label='Mississippi', value='Mississippi')
                | Mississippi
              option(label='Missouri', value='Missouri')
                | Missouri
              option(label='Montana', value='Montana')
                | Montana
              option(label='Nebraska', value='Nebraska')
                | Nebraska
              option(label='Nevada', value='Nevada')
                | Nevada
              option(label='New Hampshire', value='New Hampshire')
                | New Hampshire
              option(label='New Jersey', value='New Jersey')
                | New Jersey
              option(label='New Mexico', value='New Mexico')
                | New Mexico
              option(label='New York', value='New York')
                | New York
              option(label='North Carolina', value='North Carolina')
                | North Carolina
              option(label='North Dakota', value='North Dakota')
                | North Dakota
              option(label='Ohio', value='Ohio')
                | Ohio
              ooption(label='Oklahoma', value='Oklahoma')
                | Oklahoma
              option(label='Oregon', value='Oregon')
                | Oregon
              option(label='Pennsylvania', value='Pennsylvania')
                | Pennsylvania
              option(label='Rhode Island', value='Rhode Island')
                | Rhode Island
              option(label='South Carolina', value='South Carolina')
                | South Carolina
              option(label='South Dakota', value='South Dakota')
                | South Dakota
              option(label='Tennessee', value='Tennessee')
                | Tennessee
              option(label='Texas', value='Texas')
                | Texas
              option(label='Utah', value='Utah')
                | Utah
              option(label='Vermont', value='Vermont')
                | Vermont
              option(label='Virginia', value='Virginia')
                | Virginia
              option(label='Washington', value='Washington')
                | Washington
              option(label='Washington D.C.', value='Washington D.C.')
                | Washington D.C.
              option(label='West Virginia', value='West Virginia')
                | West Virginia
              option(label='Wisconsin', value='Wisconsin')
                | Wisconsin
              option(label='Wyoming', value='Wyoming')
                | Wyoming
            optgroup(label='International')
              option(label='Kenya', value='Kenya')
                | Kenya
          br      
      .span4
        label(for='zipcode') Zip Code:
        br
        input#zipcode.input(name='zipcode', type='text', value='', size='30')
        br
    .row-fluid  
      .span4
        label(for='primaryphone') Primary Phone:
        br
        input#primaryphone.input(name='primaryphone', type='text', value='', size='30')
        br
      .span4
        label(for='email') Secondary Phone:
        br
        input#secondphone.input(name='secondphone', type='text', value='', size='30')
        br
      .span4
        label(for='email') Email Address:
        br
        input#email.input(name='email', type='text', value='', size='30')
        br
    hr 
    h2 Enter the patient's insurance information below: 
    .row-fluid  
      .span4
        label(for='insurance') Insurance Carrier:
        br
        input#insurance.input(name='insurance', type='text', value='', size='30')
        br
      .span4
        label(for='membernumber') Member Number:
        br
        input#membernumber.input(name='membernumber', type='text', value='', size='30')
        br
      .span4
        label(for='membernumber') Group ID:
        br
        input#membernumber.input(name='membernumber', type='text', value='', size='30')
        br
    .row-fluid        
      .span4
        label(for='primarySSN') Primary Insurance Holder's SSN:
        br
        input#primarySSN.input(name='primarySSN', type='text', value='', size='30')
        br
      .span4
        form(action='action_page.php')
          label(for='primaryDOB') Primary Insurance Holder's Date of Birth:
          br
          input#DOB.input(type='date', name='primaryDOB')
          br   
    hr
    h2 Enter the patient's vitals below:    
    .row-fluid 
      .span4
        form(action='action_page.php')
          | Height (in inches):
          br
          br
          input#height.input(type='number', name='height', min='1', max='120')
          br
      .span4
        form(action='action_page.php')
          | Weight (in lbs):
          br
          br  
          input#weight.input(type='number', name='weight', min='1', max='400')
          br
      .span4
        form(action='action_page.php')
          | Body temperature (in °C):
          br
          br  
          input#temperature.input(type='number', name='temperature', min='35', max='400')
          br
    .row-fluid 
      .span4
        form(action='action_page.php')
          | Pulse rate (beats per minute):
          br
          br  
          input#pulse.input(type='number', name='pulse', min='40', max='160')
          br
      .span4
        form(action='action_page.php')
          | Respiration rate (breaths per minute):
          br
          br  
          input#respiration.input(type='number', name='respiration', min='12', max='60')
          br
      .span4
        label(for='bp') Blood pressure (mm Hg):
        br
        input#bp.input(name='bp', type='text', value='', size='30')
        br       
    hr
    h2 Medical History:    
    .row-fluid
      .span4
        form
          p 
            | Are you presently under care for a medical or mental health problem? 
            br
            input#yescare.input(type='radio', name='care', value='yes', checked='')
            |  Yes
            br
            input#nocare.input(type='radio', name='care', value='no')
            |  No
            br
      .span4
        form(action='action_page.php')
          | If Yes, Describe the Problem(s) and Treatment:
          br
          br
          textarea#care_description.textarea(name='care_description', rows='10', cols='30') List problem(s) and treatment.
          br
      .span4
        form(action='action_page.php')
          | History of Serious Illness and/or Injuries:
          br
          br
          textarea#history_illness.textarea(name='history_illness', rows='10', cols='30') Include dates.
          br
    .row-fluid
      .span4
        form(action='action_page.php')
          | Medications:
          br
          br
          textarea#medications.textarea(name='medications', rows='10', cols='30') List any medications that the patient is taking.
          br
      .span4
        form(action='action_page.php')
          | Medication Allergies:
          br
          br
          textarea#medicationallergies.textarea(name='medicationallergies', rows='10', cols='30') List any known allergies to known medications and describe the reactions.
          br
      .span4
        form(action='action_page.php')
          | Food and/Or Environmental Allergies:
          br
          br
          textarea#foodallergies.textarea(name='foodallergies', rows='10', cols='30') List any food and/or environmental allergies and describe the reactions.
          br     
    hr       
    .row-fluid    
      center
        input#submit_button.btn-primary.btn-large(type='submit', value='Submit Information')