extend doctor_framework


block sidebar
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Most recently viewed
      li.active
        a(href='#') StaffName
      li
        a(href='#') StaffNam
      li
        a(href='#') StaffNam
      li
        a(href='#') StaffNam
      li
        a(href='#') StaffNam
      li
        a(href='#') StaffName  

block content
  .hero-unit
    center
      h1 Robert Loredo Health Services
      h2 Administration
  .row-fluid
    .span4
      h2 Delegate Access
      p
        | Change permissions for new/existing staff
      p
        a.btn.btn-primary.btn-large(href='#') Delegate Access »
    // /span
    .span4
      h2 View Practice Account Information
      p
        | Review your Service Level Agreement with HenleyLunn Cloud Computing, View Practice Usage Metrics, View System Information (RTO/RPO)
      p
        a.btn.btn-primary.btn-large(href='#') Account Information » 
      