!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Nurse
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/doctor_home') Robert Loredo Health Services
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Logged in as
              a.navbar-link(href='#') Username
            ul.nav
              li.active
                a(href='/nurse_home') Home
              li
                a(href='/nurse_patientPortal') Patient Portal 
              li
                a(href='/nurse_scheduling') Scheduling   
    .container-fluid
      .row-fluid
        .span2
          block sidebar
        .span10
          block content
      hr
      .footer
        center
          p HenleyLunn Cloud Corporation ©2016
          .logo
           img(src='img/HenleyLunnLogo.png')
  include ../partials/scripts
