!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Doctor_Reports
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Robert Loredo Health Services
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Logged in as
              a.navbar-link(href='#') Username
            ul.nav
              li.active
                a(href='/doctor') Home
              li
                a(href='#patient') Patient Portal 
              li
                a(href='/administration') Administration Portal
              li
                a(href='/finance') Finance 
              li
                a(href='/reports') Reports 
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Most recent reports
              li.active
                a(href='#') Report_Date
              li
                a(href='#') Report_Date
              li
                a(href='#') Report_Date  
        .span9
          .hero-unit
            center
              h1 Loredo Health Services
              h2 Reports 
          .row-fluid
            .span4
              h2 Request New Patient Report
              p
                | Take a look at daily, weekly, and monthly reports for a particular patient. Can view medical or financial history.
              p
                a.btn.btn-primary.btn-large(href='#') Get Patient Report »
            // /span
            .span4
              h2 Request New Practice Report
              p
                |  Take a look at daily, weekly, and monthly reports for the practice. Can view quantitative patient information or practice financial history. 
              p
                a.btn.btn-primary.btn-large(href='#') Get Practice Report »   
      hr
      footer
        p © HenleyLunn Cloud Corporation 2016
  include ../partials/scripts
