extend staff_framework

block sidebar
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Most recently viewed
      li.active
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName
      li
        a(href='#') PatientName  
 
block content
  .hero-unit
    center
      h1 Robert Loredo Health Services
      h2 Search for a Patient
  .row-fluid
    h2 Search by Name:
    br
  form#contact_form(action='#', method='POST', enctype='multipart/form-data')
    .row-fluid  
      .span4
        center     
          input#search_button.btn-large(name='firstname', type='search', value='Search by First Name')
      .span4
        center     
          input#search_button.btn-large(name='middlename', type='search', value='Search by Middle Name')
      .span4
        center     
          input#search_button.btn-large(name='lastname', type='search', value='Search by Last Name')
  hr              
  .row-fluid
    h2 Search by SSN:
    br
  form#contact_form(action='#', method='POST', enctype='multipart/form-data')
    .row-fluid  
      center     
        input#search_button.btn-large(type='search', value='Search by SSN')